---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Search from "../../components/Search.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
let currentYear: number = 0;
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <Search />
    <main>
      {
        posts
          .filter((post) => post.data.published)
          .map((post, _) => {
            const postYear = post.data.pubDate.getFullYear();
            const isNewYear = currentYear !== postYear;
            currentYear = postYear;
            return (
              <>
                {isNewYear && (
                  <div>
                    <div class="timeline header">
                      <div class="date header">{postYear}</div>
                      <div class="dashline header" />
                      <div class="content header">
                        {posts.filter((p) => p.data.pubDate.getFullYear() === postYear).length}{" "}
                        posts
                      </div>
                    </div>
                  </div>
                )}
                <a href={`/blog/${post.slug}`} class="bloglink">
                  <div class="timeline">
                    <div class="date">
                      {post.data.pubDate
                        .toLocaleDateString("ja-JP", {
                          month: "2-digit",
                          day: "2-digit",
                        })
                        .split("/")
                        .join("-")}
                    </div>
                    <div class="dashline" />
                    <div class="content">{post.data.title}</div>
                  </div>
                </a>
              </>
            );
          })
      }
    </main>
    <Footer />
  </body><style>
    .bloglink {
      text-decoration: none;
      color: var(--text);
      margin: 0;
      padding: 0;

      &:hover {
        & .timeline {
          background: color-mix(in srgb, var(--bg-light), #000 5%);
        }
        & .dashline::before {
          height: 2rem;
          border-radius: 0.5rem;
        }
      }
    }

    .timeline {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      line-height: 2rem;
      background: transparent;
      border-radius: 0.5rem;
      transition: background 200ms ease;

      /* 年とポスト数表示させるところ */
      &.header {
        font-size: 1.5rem;
        font-weight: bold;

        & > .content {
          font-size: 1rem;
          color: #004449bd;
          vertical-align: bottom;
        }
      }

      /* タイムライン */
      & > .date,
      & > .dashline {
        width: 10%;
        text-align: right;
      }

      & .date {
        color: #004449bd;
        &.header {
          color: var(--bg-dark);
        }
      }

      & > .content {
        flex: 1;
      }

      & > .dashline {
        position: relative;
        aspect-ratio: 1;

        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
        }

        /* ドット */
        &.header::before {
          --size: 2rem;
          /* 	border-color: blue; */
          background: var(--a);
        }
        &::before {
          --size: 0.5rem;
          width: var(--size);
          height: var(--size);
          border-radius: var(--size);
          background: var(--b);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: height 200ms ease;
        }

        /* ダッシュライン */
        &.header::after {
          --h: 0;
        }
        &::after {
          --thin: 2px;
          --h: 100%;
          left: calc(50% - var(--thin) / 2);
          bottom: 50%;
          width: 4px;
          height: var(--h);
          border-left: var(--thin) dashed #00444970;
          z-index: -1;
        }
      }
    }
  </style>
</html>
