---
import Base from "./Base.astro";
import { SITE_TITLE } from "../config";

import "../styles/blog.css";
const { post } = Astro.props;
const { title, pubDate, tags } = post.data;
const formattedDate = pubDate.toLocaleDateString("ja-JP", {
	year: "numeric",
	month: "2-digit",
	day: "2-digit",
});
---

<Base title={`${title} - ${SITE_TITLE}`}>
	<div id="progress"></div>
	<time datetime={pubDate}>{formattedDate}</time>
	<h1>{title}</h1>
	<slot />
	{
		tags && (
			<h3>Tags</h3>
			<ul class="tags">
				{tags.map((tag: string) => (
					<li>
						<a href={`/tags/${tag}`}>{tag}</a>
					</li>
				))}
			</ul>
		)
	}
</Base>

<style>
	@keyframes grow-progress {
		from {
			width: 0;
		}
		to {
			width: 100%;
		}
	}

	#progress {
		/* スタイリング */
			position: fixed;
			width: 100%;
			height: 5px;
			left: 0;
			background: var(--accent2);

		animation: grow-progress linear;
		animation-timeline: scroll();
	}

	time {
		font-size: 0.8em;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		a {
			padding: 0.2em 0.5em;
			border-radius: 1em;
		}
		a::before {
			content: "#";
		}
	}

	h3 {
		margin-bottom: 0;
	}
</style>
